<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.css">   
    <title>I de Adivinación-login</title>
</head>
<body>



    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <div class="car">
                    <div class="card-body">

                        <h2>Inico de sesión</h2>

                        <hr>
                        <form action="" method="POST">
                            

                            {% csrf_token %}
                            {{ form }}

                            <input type="submit" value="ingresar">

                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>

</body>
</html>