{% include "menus/menu_superior.html" %}

<div class="row hero-content2">

	<div class="twelve columns">

		<h1>¿Quiénes somos?</h1>
		<hr />     	    

		<p>
            Nosotros somos una nueva familia de tarot y astrología on-line en la que nos preocupamos por usted y su
            bienestar. Por ello, dedicamos nuestras 24 horas del día a trabajar para resolver todas las dudas y
            preocupaciones que pueda tener. No lo dude, contáctenos.
		</p>

	</div> <!-- end section-head -->

</div>

<div class="row mobile-no-padding">       	

	<div class="process bgrid-half tab-bgrid-whole group">

		<div class="bgrid">

			<h3>Directos </h3>	

			<p>
				<strong>I de Adivinación</strong> tiene planeado hacer regularmente directos de tarot,
                donde las personas presentes podrán participar activamente haciendo pregustas a los 
				tarotistas expertos que resolveran todo tipo de dudas. Esto se hará desde un enlace que 
                llevara a una llamada con comunicación directa con nuestros tarotistas.
				</p>

		</div>

		<div class="bgrid">

			<h3>Horoscopo semanal</h3>

				<p>
					Desde <strong>I de Adivinación</strong> queremos ayudar semanalmente a las personas 
                    interesadas a saber cómo será su semana, actualmente esto se hace en Instagram pero 
					en un futuro también se podrá seguir por YouTube con tiradas más amplias.
				</p>	

		</div> 

		<div class="bgrid">

			<h3>Instagram</h3>	

				<p>
					Actualmente nuestra actividad principalmente se concentrada en Instagram y en el 
					desarrollo de futuros proyectos. Por eso, en el presente, los seguidores de nuestra
                    cuenta de Instagram tendrán derecho a solicitar la lectura de cartas a través de mensajes
					por privado, dm.
				</p>

		</div>

		<div class="bgrid">

			<h3>Cursos</h3>

			<p>
				En <strong>I de Adivinación</strong> tenemos el objetivo de poder transmitir nuestros 
                conocimientos al resto de las personas, enseñándoles a leer las cartas.
			</p>	

		</div>

	</div> <!-- end process -->      	

</div> <!-- end row -->


<div class="row team section-head">

	<div class="twelve columns">

        <h1>Nuestro equipo de <span>tarotistas</span></h1>

		<div class="">
			{% if trtsts %}
				
				{% for t in trtsts %}

					<div class="bgrid member">

						<div class="member-pic">
							<img src="{{ t.imagen }}" alt>
						</div>

						<div class="member-name">
							<h3>{{ t.nombre }}</h3>
							<p style="color: #fdc501;">{{ t.especialidades }}</p>
						</div>

						<p>{{ t.actividades }}</p>
					</div>
				{% endfor %}
			{% else %}
			<p> Lo sentios pero una fuerza oscura no nos deja conectar con nuestros tarotistas</p>
			{% endif %}
		</div>
        <hr />	         

	</div>

</div> <!-- end section-head -->
	
{% include "menus/menu_inferior.html" %}




</html>