<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="es"> <!--<![endif]-->

	{% include "menus/menu_superior.html" %}

	<div class="row hero-content2">

		<div class="twelve columns">

			<h1>¿quienes somos?</h1>

			<hr />     	    

			<p>
				Nosotros somos un equipo de tarotistas que nos dedicamos a la lectura de cartas on-line
				atraves de directos, DM de instragram y tambien hacemos videos y publicaciones especiales como
				el horoscopo de la semana y otos videos y publicacciones especiales.
			</p>

		</div> <!-- end section-head -->

	</div>

	<div class="row mobile-no-padding">       	

		<div class="process bgrid-half tab-bgrid-whole group">

			<div class="bgrid">

				<h3>Directos </h3>	

				<p>
					<strong>I de Adivinación</strong> tiene planeado hacer directos regulares de tarot, en estos las personas
					presentes podran participar activamente en los direcos haciendo pregustas a los tarotistas para que te 
					vean el futuro, esto se hara desde un enlace que llevara a una llamada por la que habra comunicación directa
					con nestros tarotistas.
				</p>

			</div>

			<div class="bgrid">

					<h3>Horoscopo de la semana</h3>

					<p>
						Desde <strong>I de Adivinación</strong> tenemos el objetivo de poder ayudarles lo maximo posible
						por eso los sabados/domingos saldra en nuestro canal de youtube el horoscopo de la semana, este 
						constara de un video que contara como sera la semana para cada signo y desde nuestras redes sociales
						haremos un resumen de este viedeo.
					</p>	

			</div> 

			<div class="bgrid">

					<h3>Más eventos</h3>	

					<p>
						Anque actualmente desde <strong>I de Adivinación</strong> tenemos la prioridad de poder sacar directos
						y horoscopos tenemos pensado poder hacer eventos especiales, estos se informaran con antelación en nuestras 
						redes sociales y en la web.
					</p>

			</div>

			<div class="bgrid">

				<h3>¿Como apayarnos?</h3>

				<p>
					actualmente en <strong>I de Adivinación</strong> no tenemos medios para que los interesados puedan
					apoyar con donaciones, si que agradecemos que los que quieran apoyar este proyecto de tarot y astrologia
					se unieran a los directos y vean y compartan las publicaciones en de la web, redes sociales y canal de youtube.
				</p>	

			</div>

		</div> <!-- end process -->      	

		</div> <!-- end row -->


	<div class="row team section-head">

		<div class="twelve columns">

			<h1>Nuestro equipo de <span>tarotistas</span></h1>

			<div class="">
				{% if trtsts %}
				
					{% for t in trtsts %}
						<div class="bgrid member">
							<div class="member-pic">
								<img src="{{ t.imagen }}" alt>
							</div>
							<div class="member-name">
								<h3>{{ t.nombre }}</h3>
								<p style="color: #fdc501;">{{ t.especialidades }}</p>
							</div>
							<p>{{ t.actividades }}</p>
						</div>
					{% endfor %}
				{% else %}
				<p> Lo sentios pero una furza oscura no nos deja conectar con nuestros tarotistas</p>
				{% endif %}
			</div>
			<hr />	         

		</div>

	</div> <!-- end section-head -->
	

    {% include "menus/menu_inferior.html" %}




</html>