<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
    </head>
    <body>
        <div class="modal-header dropdown-header">
            <H1 class="titulo">I DE ADIVINACIÓN</H1>
            <p class="sub-titulo">Su web de <strong>tarot</strong> y <strong>astrología</strong> favorita</p>
            <p>
                <a href="/" style="color: gray;">index</a> / 
                <a href="/admin/"style="color: gray;">admin</a>
            </p>
        </div>
</html>