<html>
    <head>

        <!--- basic page needs
        ================================================== -->
        <meta charset="utf-8">
        <title>I de adivinación</title>
    
        <!-- mobile specific metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" href="static/css/base.css">
        <link rel="stylesheet" href="static/css/vendor.min.css">
        <link rel="stylesheet" href="static/css/main.css">     
    
        <!-- script
        ================================================== -->
        <script src="static/js/modernizr.js"></script>
    
        <!-- favicons
        ================================================== -->
        <link rel="shortcut icon" href="static/favicon.png" >
    
    </head>
    
    <body>
    
        <!-- header
        ================================================== -->
        <header id="main-header">
    
        <div class="row">
    
        <div class="logo">
        <a href="/">I DE ADIVINACIÓN</a>
        </div>
    
        <nav id="nav-wrap">         
        <!--
                <a class="mobile-btn" href="/" title="Show navigation">
                    <span class="menu-icon">Inicio</span>
                </a>
                <a class="mobile-btn" href="/nosotros/" title="Hide navigation">
                    <span class="menu-icon">Nosotros</span>
                </a>            
            -->
            <ul id="nav" class="nav">
                <li><a href="/">Inicio.</a></li>
                <li><a href="/nosotros.html">Nosotros.</a></li>
                <li><a href="#services">Services.</a></li>
                <li><a href="#about">About.</a></li>
                <li><a href="#contact">Contact.</a></li>
            </ul> <!-- end #nav -->
    
            </nav> <!-- end #nav-wrap -->
    
            <ul class="header-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>      
    
            </div>
    
        </header> <!-- end header -->
</html>