<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="es"> <!--<![endif]-->

	{% include "menu_superior.html" %}

	<div class="row hero-content2">

		<div class="twelve columns">

			<h1>¿quienes somos?<span>.</span></h1>

		   <hr />     	    

		   <p>
				Nosotros somos un quipo de tarotistas que nos dedicamos a la lectura de cartas on-line
				atraves de directos, DM de instragram y tambien hacemos videos y publicaciones especiales como
				el horoscopo de la semana y otos videos y publicacciones especiales.
		   </p>

		</div> <!-- end section-head -->

	</div>

	<div class="row mobile-no-padding">       	

		<div class="process bgrid-half tab-bgrid-whole group">

			<div class="bgrid">

				<h3>Our Process.</h3>	

				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
				</p>

			 </div>

			<div class="bgrid">

				   <h3>Our Approach.</h3>

				   <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
				 </p>	

			</div> 

			<div class="bgrid">

				   <h3>Our Goal.</h3>	

				   <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
				</p>

			</div>

			<div class="bgrid">

				<h3>Our Mission.</h3>

				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
				</p>	

			</div>

		</div> <!-- end process -->      	

	   </div> <!-- end row -->


	<div class="row team section-head">

		<div class="twelve columns">

		   <h1>Meet Our Team<span>.</span></h1>

		   <hr />	         

		</div>

	</div> <!-- end section-head -->
	

    {% include "menu_inferior.html" %}




</html>